.card {
  background-color: #e5e5e5;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0 2px 3px black;
  height: 200px;
  line-height: 350%;
  margin: 10px 2px;
  padding: 15px 0;
  text-align: center;
  width: 48%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.dropdown {
  font-size: 2.5rem;
  background-color: #fdfbfb;
  font-weight: 700;
  outline: 0;
  font-family: 'Spill Beans';
  padding: 3px;
  width: 100%;
  margin-top: 0.2em;
  border-radius: 20px;
}
