.card {
  background-color: #e5e5e5;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0px 2px 3px black;
  height: 200px;
  line-height: 350%;
  margin: 10px 2px;
  padding: 15px 0;
  text-align: center;
  width: 48%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}
