.imageCard {
  width: 100%;
}

.favorite-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.favorite-buttons {
  background-color: gray;
  margin-right: 2px;
  padding: 2%;
}

.favorite-buttons-container {
  margin-left: 10px;
  margin-top: 2px;
}
