#page-body {
  padding: 2.5%;
}

#img-container {
  height: 155px;
  width: 100%;
}

#img-container > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#title-container {
  align-items: center;
  display: flex;
  height: 2em;
  margin-top: 0.7em;
  width: 100%;
}

#title-container > h2 {
  flex-grow: 1;
  max-width: 266px;
}

#title-container > button {
  border: none;
  background: transparent;
}

#category {
  color: #a9a9a9;
  font-size: 1em;
}

section {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-top: 1em;
}

.text-container {
  background-color: #ececec;
  border-radius: 4px;
  padding: 0.7em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  margin-top: 0.2em;
  min-width: calc(342px - (2 * 0.7em));
}

.ingredientItem {
  margin: 0;
  margin-left: 0.5em;
  font-size: 1em;
  text-align: center;
  list-style-type: "- ";
}

span {
  font-size: 1.5em;
}

#drinks-carousel {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: scroll;
  padding-bottom: 1em;
}

.drinksCard {
  margin: 0 0.2em;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  border: solid #a9a9a9 1px;
  padding-bottom: 0.1em;
  margin-bottom: 2em;
  object-fit: cover;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}

.drinksCard > img {
  width: 10.1em;
  border-radius: 6px 6px 0 0;
}

.drinkCategory {
  color: #a9a9a9;
  font-size: 0.7em;
  padding: 0.2em;
  padding-left: 0.4em;
}

.drinkName {
  font-size: 0.8em;
  padding: 0.2em;
  padding-left: 0.4em;
}

#startRecipeBtn {
  background-color: #6ce34f;
  border: none;
  font-size: 1.5em;
  height: 2em;
  margin-top: 1em;
  width: 95%;
  position: fixed;
  bottom: 0;
}
