.btnLogin {
  background-color: #00ff00;
  border: 1px solid #00ff00;
  color: black;
  margin: 22px;
  padding: 10px;
  width: 15%;
}

.btnLogin:disabled {
  background-color: #00ff00;
  opacity: 0.5;
}

.btnLogin:hover {
  cursor: pointer;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.inputLogin {
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  margin: 20px;
}

.inputLogin:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.titleLogin {
  align-items: center;
  display: flex;
  font-size: 30px;
  font-style: normal;
  height: 60px;
  justify-content: center;
  margin-bottom: 10px;
}
